/*
 * Copyright 2018 Mario Ivankovits
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.multiListEdit
{
    -fx-padding: 4;
    -fx-spacing: 4;
}

.multiListEdit > .elements
{
}

.multiListEdit > .buttonBar
{
}

.multiListEdit_insertAbove_vertical
{
    -fx-border-style: solid;
    -fx-border-color: -fx-focus-color;
    -fx-border-width: 2 0 0 0;
}

.multiListEdit_insertAbove_horizontal
{
    -fx-border-style: solid;
    -fx-border-color: -fx-focus-color;
    -fx-border-width: 0 0 0 2;
}

.multiListEdit > .buttonBar > .leftButton,
.multiListEdit > .buttonBar > .leftButton:focused,
.multiListEdit > .buttonBar > .leftButton:armed,
.multiListEdit > .buttonBar > .leftButton:selected,
.multiListEdit > .buttonBar > .leftButton:pressed
{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;

    -fx-background-radius: 3px 0px 0px 3px, 3px 0px 0px 3px, 2px 0px 0px 2px, 1px 0px 0px 1px;
    -fx-background-insets: 0 0 -1 0, 0, 1 0 1 1, 2 0 2 2;

    -fx-border-color: -fx-outer-border;
    -fx-border-width: 0 1 0 0;
    -fx-border-style: solid;
}

.multiListEdit > .buttonBar > .middleButton,
.multiListEdit > .buttonBar > .middleButton:focused,
.multiListEdit > .buttonBar > .middleButton:armed,
.multiListEdit > .buttonBar > .middleButton:selected,
.multiListEdit > .buttonBar > .middleButton:pressed
{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;

    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-insets: 0 0 -1 0, 0, 1 0 1 0, 2 0 2 0;

    -fx-border-color: -fx-outer-border;
    -fx-border-width: 0 1 0 0;
    -fx-border-style: solid;
}

.multiListEdit > .buttonBar > .rightButton,
.multiListEdit > .buttonBar > .rightButton:focused,
.multiListEdit > .buttonBar > .rightButton:armed,
.multiListEdit > .buttonBar > .rightButton:selected,
.multiListEdit > .buttonBar > .rightButton:pressed
{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;

    -fx-background-radius: 0px 3px 3px 0px, 0px 3px 3px 0px, 0px 2px 2px 0px, 0px 1px 1px 0px;
    -fx-background-insets: 0 0 -1 0, 0, 1 1 1 0, 2 2 2 0;
}
